/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.buttons {
  display: flex;
}

.buttons a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease;
}

.buttons a:hover {
  background: #fff;
  color: black;
}

.websiteBody {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-display: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./background.jpg");
  background-size: cover;
  color: white;
}

.buttonsSpan {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.buttonsSpan a {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  transition: all 0.3s ease;
}

.buttonsSpan .buttonOne {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 5px;
  background: transparent;
  color: white;
  transition: all 0.3s ease;
  border-style: solid;
}

.buttonsSpan a:hover {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  transition: all 0.3s ease;
}
